@model IEnumerable<EventModel>
@{ ViewData["Title"] = "Home"; }
<body>
    <h2 style="position: relative; right:0;">
        Events
    </h2>
    <form method="post" enctype="multipart/form-data" asp-controller="SearchTag">

        <label for="evTitle">Search</label>
        <input type="text" class="textarea" id="search" name="search" maxlength="50" required />
        <button type="submit" class="textarea" id="search" value="search">Search</button>
    </form>
    <h1></h1>
    @{ 
        if (!Model.Any()) {
            <h1>No events found!</h1> 
        }
        @foreach (var evnt in Model.Reverse()) {
            {
                <a href="~/@evnt.Id"> <h1>@evnt.Title</h1></a>
                <a href="~/@evnt.Id"> <embed src="@(evnt.Id)_with_qr.png" style="vertical-align: middle;"></a>
                <p>@evnt.Description</p>
                <p>This event is happening on @evnt.Date at @evnt.Time at @evnt.Building @evnt.Room</p>
                <p class="line" style="position: relative; right: 0;"></p>
            }
         } 
    }
</body>