@model Dictionary<int,EventModel>
@{ 
    ViewData["Title"] = "SearchTag";
}
<body>
    <h2 style="position: relative; right:0;">
        Events
    </h2>
    <form method="post" enctype="multipart/form-data" asp-controller="SearchTag" asp-action="SearchAction">

        <label for="evTitle">Search</label>
        <input type="text" class="textarea" id="search" name="search" maxlength="50" required />

        <button type="submit" class="textarea" id="search" value="Submit">Submit Event</button>
    </form>
    @{
            foreach (KeyValuePair<int, EventModel> theevnt in Model.Reverse())
            {
                //DateTime eventDate = DateTime.Parse(@touse.Date);
                //DateTime currentDate = DateTime.Now;
                EventModel touse = theevnt.Value;
                //if (eventDate >= currentDate)

                <a href="~/@touse.Id"> <h1>@touse.Title</h1></a>
                <a href="~/@touse.Id"> <embed src="@(touse.Id)_with_qr.png" /></a>
                <p>@touse.Description</p>
                <p>This event is happening on @touse.Date at @touse.Time at @touse.Building @touse.Room @touse.Campus.</p>
                <p class="line" style="position: relative; right: 0;"></p>
            }

    }


</body>