@model List<UserRoleModel>

@{
    var roleId = ViewBag.roleId;
}
<!-->Page to edit users in a specific role.-->
<form method="post">
    <div class="card">
        <div class="card-header">
            <h2>Add or remove users from this role</h2>
        </div>
        <div class="card-body">
            @for (int i = 0; i < Model.Count; i++)//loops through all users that were part of the role
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model[i].UserId" /><!--these hidden types are to pass the userID and UserName to the Editusers in role http post method-->
                    <input type="hidden" asp-for="@Model[i].UserName" />
                    <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                    <label style="color:black" class="form-check-label" asp-for="@Model[i].IsSelected">
                        @Model[i].UserName
                    </label>
                </div>
            }
        </div>
        <div class="card-footer">
            <input type="submit" value="Update" class="btn btn-primary"
                   style="width:auto" />
            <a asp-action="EditRole" asp-route-id="@roleId"
               class="btn btn-primary" style="width:auto">Cancel</a>
        </div>
    </div>
</form>