@model IEnumerable<EventModel>
@{
    ViewData["Title"] = "Favorited Events";
}
<body>
    <h2 style="position: relative; right:0;">
        Saved Events
    </h2>
    @{ // Show all user favorited events. Must be logged in to access the page.
        if (!Model.Any()) {
            <h1>Favorited Events</h1>
        }
        @foreach (var evnt in Model.Reverse()) {
            DateTime eventDate = DateTime.Parse(@evnt.Date);
            DateTime currentDate = DateTime.Now;

            if (eventDate >= currentDate) {
                <a href="~/@evnt.Id"> <h1>@evnt.Title</h1></a>
                <a href="~/@evnt.Id"> <embed src="@(evnt.Id)_with_qr.png" /></a>
                <p>@evnt.Description</p>
                <p>This event is happening on @evnt.Date at @evnt.Time at @evnt.Building @evnt.Room </p>
                <a style="color:darkred;" asp-controller="FavEvents" asp-action="Save" asp-route-id=@evnt.Id>Unfavorite Event</a>
                <div class="line" style="position: relative; right: 0;"></div>
            }
        }
    }
</body>