@model EventModel
@{
    ViewData["Title"] = "Home Page";
}
<body>
    @{
        <h1>@Model.Title</h1>
        <embed src="@Model.FileName" style="height: 250px; width: 500px; vertical-align: middle;">
        {
            <p>Date: @Model.Date</p>
            <p>Time: @Model.Time</p>
            <p>Building: @Model.Building</p>
            <p>Room: @Model.Room</p>
            @*<p>Campus: @Model.Campus</p>*@

            //MapBox
            //Needs Access Token to work 
            <div id='map' style='width: 400px; height: 300px;'></div>
            //<div id='map'></div>
<script>
                mapboxgl.accessToken = 'pk.eyJ1IjoiamV2YW5zNjMiLCJhIjoiY2tnbzY4cnN5MGF6ODJ3cGt5aGZ6eGp0aiJ9.TArDSi86NVbWXcmy9Ezb_w';//access token goes here
                var map = new mapboxgl.Map({
                    container: 'map',
                    style: 'mapbox://styles/mapbox/streets-v11', //for street view style
                    //style: 'mapbox://styles/mapbox/satellite-v9', //for satelite view style
                    //center: [-81.341531, 41.145157],
                    center: [@Model.Longitude, @Model.Latitude],
                    zoom: 15
                });

                //location marker
                var marker = new mapboxgl.Marker()
                    .setLngLat([@Model.Longitude, @Model.Latitude])//kent state, kent campus, msb building
                    .addTo(map);

                //// Add geolocate control to the map.
                //map.addControl(
                //    new mapboxgl.GeolocateControl({
                //        positionOptions: {
                //            enableHighAccuracy: true
                //        },
                //        trackUserLocation: true
                //    });

                ////directions
                //map.addControl(
                //    new MapboxDirections({
                //        accessToken: mapboxgl.accessToken
                //    }),
                //    'top-left'
                //);
</script>

            <p class="line" style="position: relative; right: 0;">Description: @Model.Description</p>
        }
        <a href="https://www.flashflyerz.com/@Model.Id"> <h1>@Model.Title</h1></a>
        <a href="https://www.flashflyerz.com/@Model.Id"> <embed src="@(Model.Id)_with_qr.png" style="vertical-align: middle;"></a>
        <p>@Model.Description</p>
        <p> This event is happening on @Model.Date at @Model.Time at @Model.Building @Model.Room @Model.Campus</p>
        <p class="line" style="position: relative; right: 0;"></p>
    }
    <a href="https://www.flashflyerz.com/" class="h1" style=""><h2>Main Events</h2></a>
</body>
