@model EventModel
@{
    ViewData["Title"] = "Home Page";
}
<body>
    @{
        <a href="https://www.flashflyerz.com/@Model.Id"> <h1>@Model.Title</h1></a>
        <a href="https://www.flashflyerz.com/@Model.Id"> <embed src="@(Model.Id)_with_qr.png" style="vertical-align: middle;"></a>
        <p>@Model.Description</p>
        <p> This event is happening on @Model.Date at @Model.Time at @Model.Building @Model.Room @Model.Campus</p>
        <p class="line" style="position: relative; right: 0;"></p>
    }
    <a href="https://www.flashflyerz.com/" class="h1" style=""><h2>Main Events</h2></a>
</body>
