@model IEnumerable<EventModel>
@{
    ViewData["Title"] = "Home";
}
<body>
    <h2 style="position: relative; right:0;">
        Events
    </h2>
    <!-->Post form data to SearchTag to recieve events matching the search terms.-->
    <form method="post" enctype="multipart/form-data" asp-controller="SearchTag" asp-action="Index">

        <label for="evTitle">Search</label>
        <input type="text" class="textarea" id="search" name="search" maxlength="50" required />
        <br />

        <button type="submit" class="textarea" id="submit" value="Submit">Submit Event</button>
    </form>
    @{ if (!Model.Any()) //Display all events with embedded links, and allow for downloading event images.
        {
            <h1>No current events!</h1> }
        @foreach (var evnt in Model.Reverse().Where(n => DateTime.Parse(n.Date) >= DateTime.Now && n.Approved))
        {
            <a href="~/@evnt.Id"> <h1>@evnt.Title</h1></a>
            <figure>
                <a href="~/@evnt.Id"> <img src="@(evnt.Id)_with_qr.png" class="LargeDisplay" /></a>
                <figcaption>
                    <a href="@(evnt.Id)_with_qr.png" download>Download Image with QR Code</a>
                    /
                    <a href="@(evnt.Id)_qr.png" download>Download QR Code</a>
                    <br />
                </figcaption>
            </figure>
            <p>@evnt.Description</p>
            <p>This event is happening on @evnt.Date at @evnt.Time at @evnt.Building @evnt.Room </p>
            <p class="line" style="position: relative; right: 0;"></p>
        }
    }
</body>