@model IEnumerable<EventModel>
@{
    ViewData["Title"] = "Home";
}
<body>
    <h2 style="position: relative; right:0;">
        Events
    </h2>
    <form method="post" enctype="multipart/form-data" asp-controller="SearchTag" asp-action="Index">

        <label for="evTitle">Search</label>
        <input type="text" class="textarea" id="search" name="search" maxlength="50" required />
        <br />

        <button type="submit" class="textarea" id="submit" value="Submit">Submit Event</button>
    </form>
    @{ if (!Model.Any())
                    {
        <h1>No current events!</h1> }
        @foreach (var evnt in Model.Reverse())
        {
            DateTime eventDate = DateTime.Parse(@evnt.Date);
            DateTime currentDate = DateTime.Now;

            if (eventDate >= currentDate) {
                <a href="~/@evnt.Id"> <h1>@evnt.Title</h1></a>
                <figure>
                    <a href="~/@evnt.Id"> <img src="@(evnt.Id)_with_qr.png" class="LargeDisplay" /></a>
                    <figcaption>
                        <a href="@(evnt.Id)_with_qr.png" download>Download Image with QR Code</a>
                        /
                        <a href="@(evnt.Id)_qr.png" download>Download QR Code</a>
                        <br />
                    </figcaption>
                </figure>
                <p>@evnt.Description</p>
                <p>This event is happening on @evnt.Date at @evnt.Time at @evnt.Building @evnt.Room </p>
                @if (User.Identity.IsAuthenticated) 
                {
                    <form method="post" enctype="multipart/form-data" asp-controller="FavEvents" asp-action="Fav">
                        <input type="text" id="event_id" name="event_id" value="@evnt.Id" hidden>
                        <button type="submit" id="submit" value="Submit">Favorite Event</button>
                    </form>
                }
                <p class="line" style="position: relative; right: 0;"></p>
            }
        }
    }
</body>
