@model IEnumerable<EventModel>
@{
    ViewData["Title"] = "AppAdmin";
}

<h1>AppAdmin</h1>
<a asp-area="" asp-controller="AppAdmin" asp-action="Delete">Delete Event By Id</a>
<br>
<a asp-area="" asp-controller="AppAdmin" asp-action="Modify">Modify Event By Id</a>

<h2 style="position: relative; right:0;">
    Events
</h2>
@{
    // this script will generate the html for every event to the AppAdmin
    // this is in order to have a quick glance at events and the option to modify or delete by EventId

    @foreach (var evnt in Model)
    {
        DateTime eventDate = DateTime.Parse(@evnt.Date);
        DateTime currentDate = DateTime.Now;

        if (eventDate >= currentDate)
        {
            //Hard-coded base directory for now.
            <a href="~/@evnt.Id" class="h1"> @evnt.Title</a>
            <br>
            <br>
            <a href="~/@evnt.Id"> <embed src="@evnt.FileName" style="vertical-align: middle;"></a>
            <br>
            <br>
            {
                <p>Event Id: @evnt.Id</p>
                <p>Date: @evnt.Date</p>
                <p>Time: @evnt.Time</p>
                <p>Building: @evnt.Building</p>
                <p>Room: @evnt.Room</p>
                @*<p>Campus: @evnt.Campus</p>*@
                <p>Likes @evnt.Likes</p>
                <p>Description: @evnt.Description</p>
     //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
     //Warning! This is not secure, use this tag for testing and demo purposes only
                <a asp-controller="AppAdmin" asp-action="DeleteEvent" asp-route-id=@evnt.Id>Delete Event</a>
                if (!evnt.Approved) {
                    <a style="color:forestgreen;" asp-controller="AppAdmin" asp-action="ApproveEvent" asp-route-id=@evnt.Id>Approve Event</a>
                    <a style="color:darkred;" asp-controller="AppAdmin" asp-action="DeleteEvent" asp-route-id=@evnt.Id>Disapprove Event</a>
                }
                <p class="line" style="position: relative; right: 0;"></p>
                <br>
            }
        }
    }
}
